*{
    box-sizing: border-box;
}

body{
    font-family: "Rubik", Sans-serif;
    color:white;
    font-size: 20px;
    background: linear-gradient(135deg, rgb(0, 58, 54) 0%, rgb(0, 55, 75) 19%, rgb(7, 0, 31) 49%, rgb(46, 0, 73) 100%);
}

nav{
    height:2.5em;
    border-bottom: 1px solid white;
    margin-bottom: 2em;
    padding: 0;
}

#back{
    color:greenyellow;
    margin: 0.6em 0.5em 0.5em 0.5em;
    padding: 0.1em 0 1.5em 0;
    border:1px solid white;
    width:1.5em;
    height: 1.5em;
    text-align: center;
}

a{
    color:greenyellow;
    display:block;
}



.container{
    min-height: 90vh;
}

.row{
    margin-bottom: 1em;
}

.main-title h1{
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 300;
}

ol{
    padding:.25em;
    font-size: .75em;
    font-weight: 100;
    padding-left: 1em;
}
ol li{
    line-height: 2;
    
}


/* ---------- MARCADOR -----------*/

.flex-container{
    display:flex;
    justify-content:space-between;
}

.flex-50{
    text-align: center;
    width:48%;
}

.white-border{
    border:1px solid white;
}

.title-score h2{
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.25em;
    margin:.5em;
}

.title-score p{
    font-weight: 700;
    font-size: 3em;
    letter-spacing: .25em;

}

/* ---- SCORE WIN LOSS ---------*/
.flex-winloss{
    display:flex;
    flex-flow: row nowrap;
    width:100%;
    justify-content: space-between;
    color:whitesmoke;
}

.scorewinloss{
    width:22%;
    font-size: .75em;
    padding:.25em;
    border: 1px solid whitesmoke;
    flex: 0 1 auto;
    padding:0.5em 0.25em;
    text-align:center;
}

.scorewinloss p{
    margin:0;
    letter-spacing: .15em;
    font-weight: 100;
}



.marcador00{
    background-color:rgba(0,0,0,0.7);
    color:greenyellow;
    font-weight: 700;
}

.marcador00:last-child{
    color:red;
}


/* ---------- PIEDRAS -----------*/

.flex-25{
    text-align: center;
    width:22%;
    min-height: 6em;
}

#piedra-1:active{
    box-shadow: -1px 0px 20px #8dffa7;
}

#piedra-2:active{
    box-shadow: -1px 0px 20px #f0a0ff;
}

#piedra-3:active{
    box-shadow: -1px 0px 20px #00ffff;
}

#piedra-4:active{
    box-shadow: -1px 0px 20px #ffd76b;
}

.flex-25:active{
    border:none;
    border-radius: 15px;
}


img{
    width: 100%;
}


/* ----- MODAL DIALOG BOX ------*/



.modal-content{
    font-family: 'Rubik', sans-serif;
    background-color: rgb(0, 17, 27);
    border: 1px solid rgb(138, 0, 138);
}

.modal-header{
    color:greenyellow;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    border-bottom: none;
}


.modal-body{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 100;
    border-top:none;
}

.modal-footer{
    border-top:none;
}


.close{
    color:white;

}

.close:hover{
    color:white;
    opacity:1;
}

#play{

    background-color:inherit;
    border: 1px solid rgb(138, 0, 138);
    width:25%;
}


#play:active{

    background-color:inherit;
    background-color:rgb(253, 0, 253);
    font-weight: 700;
    width:25%;
}




/* --------- MEDIA QUERIES -------- */

@media  screen and (max-width:468px){
    .flex-25{
        width:48%;
        margin-bottom: 1em;
    }
}