*{
    box-sizing: border-box;
}

body{
    font-family: "Rubik", Sans-serif;
    color:white;
    font-size: 20px;
    background: linear-gradient(135deg, rgb(0, 58, 54) 0%, rgb(0, 55, 75) 19%, rgb(7, 0, 31) 49%, rgb(46, 0, 73) 100%);
}

nav{
    height:2.5em;
    border-bottom: 1px solid white;
    margin-bottom: 2em;
    padding: 0;
}

#back{
    color:greenyellow;
    margin: 0.6em 0.5em 0.5em 0.5em;
    padding: 0.1em 0 1.5em 0;
    border:1px solid white;
    width:1.5em;
    height: 1.5em;
    text-align: center;

}

.container{
    min-height: 90vh;
}

.row{
    margin-bottom: 1.8em;
}

.main-title h1{
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 300;
}

ol{
    padding:.25em;
    font-size: .75em;
    font-weight: 100;
    padding-left: 1em;
}
ol li{
    line-height: 2;
    
}


/* ---------- MARCADOR -----------*/

.flex-container{
    display:flex;
    justify-content:space-between;
}

.flex-50{
    text-align: center;
    width:48%;
}

.white-border{
    border:1px solid white;
}

.title-score h2{
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.25em;
    margin:.5em;
}

.title-score p{
    font-weight: 700;
    font-size: 3em;
    letter-spacing: .25em;

}

/* ---------- PIEDRAS -----------*/

.flex-25{
    text-align: center;
    width:22%;
    min-height: 6em;

}

img{
    width: 100%;
}




/* --------- MEDIA QUERIES -------- */

@media  screen and (max-width:468px){
    .flex-25{
        width:48%;
        margin-bottom: 1em;
    }
}